//variabili di default
$fam-font-family: 'Poppins', sans-serif;
$main-margin: 0;
$fz-font-size:1.25em;
$a-color: aqua;
$al-text-align:justify;
$head1-font-size:60px;
$bg-background:rgb(102, 0, 128);
$line-height:2em;
$span-color:rgb(255, 47, 0);
$td-text-decoration:none;
$ls-list-style-type:none;
$ds-display:flex;
$ds-justify-content:space-between;