$main-width: 100%;
$main-margin:0;
$main-padding:2em;
$main-line-height:1.2em;
$font-text-transform:uppercase;
$main-font-size:large;
$big-font-size:xx-large;
$main-display: flex;
$menu-background-color: orange;
$a-text-decoration: none;
$point-list-style-type: none;
$img-width:50%;