body{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font: size 700px;;
    margin:0;
}
.menu{
    display: flex;
    justify-content: space-evenly;

}